@(message: String)

@Main("Digits") {
   <div class="container">
     <table class="table table-bordered">
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Telephone</td>
      </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>111-111-1111</td>
    </tr>
        <tr>
      <td>Jane</td>
      <td>Doe</td>
      <td>111-111-1111</td>
    </tr>
        <tr>
      <td>Jake</td>
      <td>Doe</td>
      <td>111-111-1111</td>
    </tr>
  </table>
   </div>
}
