@(contactForm: Form[views.formdata.ContactFormData])

@import helper._

@Main("New Contact") {
<div class="container">
    @form(routes.Application.postContact(), 'class -> "form-horizontal") {
    <input type="hidden" class="form-control"
              name="@contactForm("id").name"
              id="@contactForm("id").id"
              value="@contactForm("id").value">
    
    <div class="form-group if(contactForm("firstName").hasErrors {has-errors})">
      <label for="firstName">First Name</label> <input type="text" class="form-control" 
        name="@contactForm("firstName").name"
        id="@contactForm("firstName").id"
        value="@contactForm("firstName").value"
        placeholder="First Name">
        <span class="help-block">@{contactForm("firstName").error.map {error => error.message}}</span>
    </div>

    <div class="form-group if(contactForm("lastName").hasErrors {has-errors})">
      <label for="lastName">Last Name</label> <input type="text" class="form-control" 
        name="@contactForm("lastName").name"
        id="@contactForm("lastName").id"
        value="@contactForm("lastName").value"
        placeholder="Last Name">
        <span class="help-block">@{contactForm("lastName").error.map {error => error.message}}</span>
    </div>

    <div class="form-group if(contactForm("telephone").hasErrors {has-errors})">
      <label for="telephone">Telephone</label> <input type="text" class="form-control" 
        name="@contactForm("telephone").name"
        id="@contactForm("telephone").id"
        value="@contactForm("telephone").value"
        placeholder="Telephone">
        <span class="help-block">@{contactForm("telephone").error.map {error => error.message}}</span>
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
    }
</div>
}
