@(contactForm: Form[views.formdata.ContactFormData],
  telephoneTypeMap: Map[String, Boolean])

@import bootstrap3._
@import helper._

@Main("New Contact") {
<div class="container">
    @form(routes.Application.postContact(), 'class -> "form-horizontal") {
    
    <input type="hidden" class="form-control"
              name="@contactForm("id").name"
              id="@contactForm("id").id"
              value="@contactForm("id").value">
    
   <!-- First Name -->
  @text(contactForm("firstName"),
        label = "First Name",
        placeholder = "First Name",
        help = "Please enter your first name. (required)")

   <!-- Last Name -->
  @text(contactForm("lastName"),
        label = "Last Name",
        placeholder = "Last Name",
        help = "Please enter your last name. (required)")
        
        
   <!--  Telephone and Type -->       
  @telephone(contactForm("telephone"), 
             contactForm("telephoneType"),
             isMultiple = false,
             optionMap = telephoneTypeMap)
             


   <!-- Address -->
  @text(contactForm("address"),
        label = "Address",
        placeholder = "Address",
        help = "The address must be 25 or more characters. (required)")
    
    <button type="submit" class="btn btn-default">Submit</button>
    }
</div>
}
